/* You can add global styles to this file, and also import other style files */
html{
  height: 100%;
}
body{
  min-height:100%;
}
html, body {
  margin: 0;
  background-color: #fafafa;
  color: #333;

  font-family: 'Roboto', sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

.page-content {
  position: relative;
  margin-left: 8px;
  margin-right: 8px;
  margin-top: 16px;

  @media (min-width: 1024px) {
    margin-top: 32px;
    margin-left: auto;
    margin-right: auto;
    width: 800px;
  }
}

// inputs
md-input-container.mat-input-container {
  width: 100%;
}
md-card-actions.mat-card-actions {
  display: flex;
  justify-content: flex-end;
}

a {
  text-decoration: none;
  color: #333;
}

// custom

.fab-button-container {
  position: fixed;
  right: 32px;
  bottom: 32px;
  .mat-fab {
    background-color: #000;
    color: #fff;
  }
}

.top-panel {
  background-color: #fff;
  box-shadow: 0 0 0 0 rgba(0,0,0,0), 0 0 0 0 rgba(0,0,0,0), 0 2px 5px 0 rgba(0,0,0,.3);

  a {
    display: flex;
    align-items: center;
    font-weight: 100;
    font-size: 40px;
    color: #333;
    span {
      padding-left: 12px;
    }
    img {
      height: 20px;
    }
  }
}

h3 {
  font-weight: 100;
  margin: 32px 0;
  font-size: 20px;
}

.preloader {
  margin: 64px auto 0;
}

.mat-card {
  margin-bottom: 8px;
}

.dashboard-board.mat-card {
  display: flex;
  cursor: pointer;

  h4 {
    flex: 1 1 0;
    margin: 0;
  }
  .edit {
    color: #333;
  }
}

.board-table {
  display: flex;
  margin: 0 -15px;
  width: 100%;

  .column {
    flex: 1 1 0;
    padding: 0 15px;
    display: flex;
    flex-direction: column;
    &.column--done {
      p {
        text-decoration: line-through;
      }
    }
    h2 {
      flex: 1 0 0;
      margin: 0 0 16px;
      font-weight: 100;
    }
    .cell {
      padding-bottom: 10px;
      &:last-child {
        padding-bottom: 0;
      }
    }
  }
}

// D&D
.droppable {
  height: 100%;
  &.drag-over-border {
    background-color: #ccc;
  }
}
.drag-handle {
  cursor: move; /* fallback if grab cursor is unsupported */
  cursor: grab;
}
.drag-handle:active {
  cursor: grabbing;
}
